@media screen {



    body > header > img:first-of-type {
        display: none;
    }

    body > header > img:nth-of-type(2) {
        margin-left: 7%;
    }

    body > main {
        display: flex;
    }

    body > main > aside {
        display: none;
    }

    body > main > div {
        width: 80%;
        margin: 5%;
        padding: 2% 5%;
        background-color: var(--palette3);
        border-radius: 10px;
    }

    body > main > div:last-of-type {
        margin-bottom: 10%;
    }

    body > main > div > h1 {
        font-size: 3vw
    }

    body > main > div > form > label {
        float: left;
        margin-left: 3%;
    }

    body > main > div > form > input,
    body > main > div > form > select {
        width: 100%;
        margin: 1% 0 3% 0;
        padding: 1% 2%;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 10px;
        border-color: var(--palette2);
    }

    body > main > div > form > textarea {
        width: 100%;
        margin: 1% 0 3% 0;
        padding: 1% 2%;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 10px;
        border-color: var(--palette2);
        resize: none;
    }

    body > main > div > form > datalist {
        display: inline-block;
        width: 100%;
        margin: 1% 0 3% 0;
        padding: 1% 2%;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 10px;
        border-color: var(--palette2);
        resize: none;
    }

    #alimentatore,
    #case,
    #dissipatoreAria,
    #dissipatoreLiquido,
    #HDD,
    #RAM,
    #monitor,
    #pastaTermica,
    #CPU,
    #schedaMadre,
    #schedaEthernet,
    #schedaWifi,
    #GPU,
    #SSD,
    #ventola
    {
        display: none;
    }

    body > main > div > button {
        width: 35%;
        margin-top: 3%;
        padding: 1% 0;
        border: 1px solid;
        border-color: var(--palette2);
        border-radius: 2000px;
        background-color: white;
        font-size: 3vw;
        cursor: pointer;
    }

    body > main > div > button:first-of-type {
        margin-right: 5%;
    }

}

/************ desktop *******************/

@media screen and (min-width: 768px) {

    body > main {
        height: auto;
    }

    body > main > div {
        width: 70.5%;
        margin: 3%;
        padding: 2% 2%;
    }

    body > main > div > h1 {
        font-size: 2vw
    }

    body > main > div > form > label {
        font-size: 1.5vw;
        float: left;
        margin-left: 1%;
    }

    body > main > div > form > input,
    body > main > div > form > textarea,
    body > main > div > form > select {
        margin: 0 0 2% 0;
    }

    body > main > div > button {
        width: 20%;
        font-size: 1.5vw
    }

    body > main > div {
        width: 60%;
        margin: 5% 20% 0 20%;
    }

}