@media screen {

    input:focus-visible,
    textarea:focus-visible,
    select:focus-visible,
    datalist:focus-visible {
        outline: none;
    }

    h1 {
        margin-bottom: 3%;
    }

    button {
        width: 35%;
        margin-top: 3%;
        padding: 1% 0;
        border: 1px solid;
        border-color: var(--palette2);
        border-radius: 2000px;
        background-color: white;
        font-size: 2.2vw;
        cursor: pointer;
    }

    input,
    select {
        width: 100%;
        margin: 1% 0 3% 0;
        padding: 1% 2%;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 10px;
        border-color: var(--palette2);
    }

    textarea {
        width: 100%;
        margin: 1% 0 3% 0;
        padding: 1% 2%;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 10px;
        border-color: var(--palette2);
        resize: none;
    }

    label {
        font-size: 2.5vw;
        float: left;
        margin-left: 3%;
    }

}

/************ desktop *******************/

@media screen and (min-width: 768px) {

    button {
        width: 25%;
        font-size: 1.5vw
    }

    label {
        font-size: 1.5vw;
        margin-left: 1%;
    }

}