@media screen {

    body > main {
        display: block;
    }

    body > main > div > h1 {
        margin-bottom: 3%;
    }

    body > main > div > form {
        display: inline-block;
        width: 100%;
    }

    body > main > div > div > button {
        width: 35%;
        margin-top: 3%;
        padding: 1% 0;
        border: 1px solid;
        border-color: var(--palette2);
        border-radius: 2000px;
        background-color: white;
        font-size: 2.2vw;
        cursor: pointer;
    }

    body > main > div > div > button:first-of-type {
        margin-right: 10%;
    }

}

/************ desktop *******************/

@media screen and (min-width: 768px) {

    body > main > div > div > button {
        width: 25%;
        font-size: 1.5vw
    }

}