*{
    margin: 0;
    padding: 0;
}

@media screen {

	body > main {
		width:100%;
		padding: 0 0%;
	}

	body > main > nav {
		display: none;
	}

	body > main > div{
		margin:0 0 5vh 0;
		padding:0 0 0 0;
		width: 100%;

	}

	body > main > div > img {
		width: 50vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	body > main > div > section > p{
		margin-top:3%;
	}

	/* da gestire col php
	body > main > div > section > section:first-of-type > p:first-of-type {
        color: green;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: none;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: none;
	}
	*/

	body > main > div > div > div {
		width: 100%;
		margin-top: 5%;
	}

	body > main > div > div > div > button {
		width: 6.5%;
		vertical-align: middle;
		box-sizing: border-box;
		border-radius: 2000px;
		border-width: 1px;
		border-color: var(--palette2);
	}

	body > main > div > div > div > button:first-of-type {
		margin-left: 0;
	}

	body > main > div > div > div > button:nth-of-type(2) {
		/*margin-right: 25%;
		su firefox se restringi abbastanza la finestra sto bottone va a capo
		penso a causa dei bordi da 1px dei bottoni perché contanto tutti i margini
		viene 98% ma bisogna considerare anche i border-width dei 2 bottoni e input
		*/
	}

	body > main > div > div > div > input {
		margin: 0 5%;
		width: 25%;
        box-sizing: border-box;
		vertical-align: middle;
        border-radius: 2000px;
        border-width: 1px;
        border-color: var(--palette2);
		background-color: var(--palette3);
        padding: 1% 2%;
		text-align: center;
		font-size: 4vw
	}

	body > main > div > div > button {
		width: 50%;
		margin-top: 5%;
		margin-left: 0;
		padding: 1.5% 0;
		font-size: 4vw;
		box-sizing: border-box;
		border-radius: 2000px;
		border-width: 1px;
		border-color: var(--palette2);
		background-color: var(--palette3);
	}

	body > main > div > div > button > img {
		width: 15%;
		/*height:10vh;*/
		vertical-align: middle;
		width: 8%;
		background-color: red;
	}

	body > main > div > section:nth-of-type(2) {
		margin-top: 5%;
		padding:1% 5% 0 5%;
	}

	body > main > div > section:nth-of-type(2) > table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		margin-top: 2%;
	}

	body > main > div > section:nth-of-type(2) > table > tbody tr {
		margin: 1% 0;
	}

	body > main > div > section:nth-of-type(2) > table > tbody tr:nth-of-type(odd) {
		background-color: var(--palette3);
	}

	body > main > div > section:nth-of-type(2) > table > tbody tr th,
	body > main > div > section:nth-of-type(2) > table > tbody tr td {
		width: 50%;
		border-width: 0px;
		border-style: solid;
		border-color: var(--palette);
		text-align: left;
		padding: 1% 0;
	}

}

/************ desktop *******************/

@media screen and (min-width: 768px) {

	body > main > nav {
		display: inline-block;
	}

	body > main > div {
		width:70%;
		margin: 5vh 5% 5vh 0;
		float: right;
		border-radius: 10px;
	}

	body > main > div > img {
		margin: 3vh 0 0 5%;
		width: 33%;
		float: left;
	}

	body > main > div > section:first-of-type {
		/*
		padding-right: 3vw;
		margin-right: 2vw;*/
		text-align: left;
		padding-top: 10%;
		padding-left: 5vw;
		margin-bottom: 2%;
		margin-left: 35%;

	}

	body > main > div > section > h1 {
		font-size: 17px;
	}
	body > main > div > section > p:nth-of-type(2){
        margin-top: 2vh;
	}

	/************* sono diventati 2 <p> che verranno gestiti dal php


	 purtropo nella parte mobile ho regole troppo specifiche e non posso ragrupparle
	body > main > div > section > section:first-of-type > p:nth-of-type(1){
        display: inline;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: flex;
        margin-left: 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(2){
		display: inline;
		margin:0 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: inline;
	}

	body > main > div > section > section > p:first-of-type{
		width:27.5%;
	}
	*/

	body > main > div > div {
		display: inline-flex;

		margin:2% 0;


		width:58%;

	}

	body > main > div > div > div {
		margin: 0 0 0 0;
	}

	body > main > div > div > div:nth-of-type(1){
		width:40%;
		float: left;
	}

	body > main > div > div > div > button {
		margin: 0 0 0 0;
		height: 5vw;
		width: 5vw;
		max-height: 30px;
		max-width: 30px;
	}

	body > main > div > div > div > button:first-of-type{
		margin: 0 0 0 0;
	}

	body > main > div > div > div > button:nth-of-type(2){
		margin: 0 0 0 0;
	}

	body > main > div > div > div > input{
		font-size: 1.7vh;
		height: 5vw;
		width:40%;
		margin: 0 2%;
		padding: 0 0;
		text-align: center;
		max-height: 30px;
		max-width: 90px;
	}

	body > main > div > div > button{
		padding: 0 0 0 0;
		width:45%;
		margin: 0 0 0 0;
		float: right;
		height: 5vw;
		font-size: 1.4vh;
		max-height: 30px;
		max-width: 250px;
	}

	body > main > div > div > button > img {
		/*width: 15%;*/
		max-height: 30px;
		height:5vh;
		vertical-align: middle;
		width: 8%;
		background-color: red;

	}

	/*** specifiche ***/
	body > main > div > section:nth-of-type(2) {
		margin: 10vh 0 5% 0;

	}
	body > main > div > section:nth-of-type(2) > h2 {
		font-size: 1.5vw;
		text-align: left;
		padding-left:3%;
	}

	body > main > div > section:nth-of-type(2) > table {
		width: 70%;
		border-collapse: collapse;
		border-spacing: 0;
		margin-top: 2%;
		font-size: 1.2vw;
	}

	body > main > div > section:nth-of-type(2) > table > tbody tr {
		margin: 1% 0;
	}

	body > main > div > section:nth-of-type(2) > table > tbody tr:nth-of-type(odd) {
		background-color: var(--palette3);
	}

	body > main > div > section:nth-of-type(2) > table > tbody tr th,
	body > main > div > section:nth-of-type(2) > table > tbody tr td {
		width: 50%;
		border-width: 0px;
		border-style: solid;
		border-color: var(--palette);
		text-align: left;
		padding: 1% 5%;

	}

}