@media screen {
	
	body > header {
		min-width: 380px;
	}
	
	body > main {
		width:100%;
		padding: 0 0%;
		min-width: 380px;
	}

	body > main > nav {
		display: none;
	}

	body > main > div{
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		width: 100%;
		margin-top: 0;
	}

	body > main > div > div {
		padding-top:2%;
		height: 5vh;

	}
	body > main > div > div > div{

	}
	body > main > div > div > div > button {
		width: 4vw;
		max-height: 4vh;
		max-width: 4vh;
	}


	body > main > div > div > div:nth-of-type(1) {
		padding:0 6.5%;
		width: 37%;
		float: left;
	}

	body > main > div > div > div:nth-of-type(1) > button {
		float: left;
	}

	body > main > div > div > div:nth-of-type(1) > p {

 		padding-top: 1vh;
 		padding-bottom: 1px;
		font-size: 1.4vh;
		float: left;
		padding-left: 5%;
	}





	body > main > div > div > div:nth-of-type(2) {
		padding:0 6.5%;
		width: 37%;
		float: right;
	}


	body > main > div > div > div:nth-of-type(2) > button {

		float: right;
	}

	body > main > div > div > div:nth-of-type(2) > p {
		padding-top: 1vh;
		padding-bottom: 1px;
		font-size: 1.4vh;
		float: right;
		padding-right: 5%;	
	}



	body > main > div > nav {
		display: none;
		background-color: white; 
		min-height: 15%;
		width: 70%;
		margin:0 15%;
		
	}
	body > main > div > nav > input {
		margin:0 20px;
	}
	body > main > div > nav > label {
		font-size: 1.2vw;
	}
	/*
	body > main > div {
		padding: 0 5%;
	}
	
	body > main > div > img {
		width: 50vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	*/

	/* da gestire col php
	body > main > div > section > section:first-of-type > p:first-of-type {
        color: green;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: none;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: none;
	}
	*/
	

}

/************ desktop *******************/

@media screen and (min-width: 768px) {
	
	body > main > nav {
		display: inline-block;
	}

	body > main > div {
		width:80%;
		float: right;
		margin-top: 1%;
	}
	
	body > main > aside{
		padding-top: 3vh;
	}

	
	/************* sono diventati 2 <p> che verranno gestiti dal php


	 purtropo nella parte mobile ho regole troppo specifiche e non posso ragrupparle 
	body > main > div > section > section:first-of-type > p:nth-of-type(1){
        display: inline;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: flex;
        margin-left: 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(2){
		display: inline;
		margin:0 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: inline;
	}
	
	body > main > div > section > section > p:first-of-type{
		width:27.5%;
	}
	*/
	
}