@media screen {
	header {
		min-width: 380px;
	}
	body > main {
		min-width: 380px;
		width:100%;
		padding: 0 0%;
	}

	body > main > nav {
		display: none;
	}

	body > main > div {
		margin-left: 0;
		margin-right: 0;
		width: 95%;
		margin-top: 0;
		padding:0 2.5% 50px 2.5%;
	}

	body > main > div > ul > li{
		/* resetting mains css*/
		width: auto;
		background-color: var(--palette3);
		display: block;
		border-style: none;


		min-height: 120px;
		height: 10vh; 
		margin: 10px 0 0 0;
		padding:20px 0 0 0;
		clear: both;
	}

	body > main > div > ul > li > p {
		/* font-size: */
		margin-top: -10px;
		margin-right: 10px;
		float: left;
		font-size: 18px;

	}
	body > main > div > ul > li > section > p{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 16px
		/*float: left;*/
	}
	body > main > div > ul > li > section > a{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: min(12px,3vw);
		/*float: left;*/
	}
	
	body > main > ul > li > hr {
		float: left;

	}

	body > main > div > ul > li > img {
		margin-top: 10px;
		/*height: 8vw;*/
		max-height: 80px;
		max-width: 25%;
		margin-left: 8vw;
		float: left;
		clear: both;
	}

	body > main > div > ul > li > section {
		margin-top: 20px;
		width: 40%;
		min-height: 7vh;
		height: auto;
		max-height: 25%;
		float: left;
		text-align: left;

	}
	
	body > main > div > ul > li > input {
		

		margin:30px 3% 0 1%;
		/*
		width: 14vh;
		height: 7vh;

		sinceramente nella mobile funzionano meglio se sono fisse a 48 e 24 pixel
		prima questi erano i valori e i 2 sotto i max e min
		*/
		width: 48px;
		height: 24px;
		float: left;
		box-sizing: border-box;
		border-radius: 2000px;
        border-width: 1px;
        border-color: var(--palette2);
		background-color: var(--palette3);
		text-align: center;
	}

	body > main > div > ul > li > button {
		margin-top: 30px;
		/*
		width: 7vh;
		height: 7vh;
		*/
		width: 24px;
		height: 24px;
		float: left;
		box-sizing: border-box;
		border-radius: 2000px;
        border-width: 1px;
        border-color: var(--palette2);
		background-color: var(--palette3);
	}

	body > main > div > ul > li > button > img {

	}
	body > main > div > ul > li:last-of-type{
 
		margin-bottom: 10px;
	}

	body > main > div > p {
		margin-top: 10vw;
		text-align: center;
		font-size: 19px;
	}

	body > main > div > button {
		margin-top: 30px;
		min-width: 170px;
		min-height: 23px;
		width: 60vw;
		height: 7vh;
		max-width: 50%;
		max-height: 35px;
		box-sizing: border-box;
		border-radius: 2000px;
        border-width: 1px;
        border-color: var(--palette2);
		background-color: var(--palette3);
		font-size: 19px;

	}
	/*******************************da vedere cosa togliere **/

	/*
	body > main > div {
		padding: 0 5%;
	}
	
	body > main > div > img {
		width: 50vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	*/

	/* da gestire col php
	body > main > div > section > section:first-of-type > p:first-of-type {
        color: green;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: none;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: none;
	}
	*/
	

}

/************ desktop *******************/

@media screen and (min-width: 768px) {
	
	body > main > nav {
		display: inline-block;
	}

	body > main > div {
		width:70%;
		margin: 5vh 5% 8vh 0;
		float: right;
		border-radius: 10px;
	}
	
	body > main > aside{
		padding-top: 3vh;
	}
	body > main > div > p {
		margin-top: 40px;
	}
	body > main > div > ul > li:last-of-type{
 
		margin-bottom: 5px;
	}

	body > main > div > ul > li > input{
		margin-left: 7%;
	}
	body > main > div > ul > li > img {

		max-width: 15%;
		height: auto;
		margin-left: 5%;

	} 

	body > main > div > ul > li > section {

		width: 50vw;
		margin-top: 32px;
		max-width: 55%;
		min-height: 7vh;
		height: auto;
		max-height: 25%;
		float: left;
		text-align: left;
		vertical-align: middle;

	}
	body > main > div > ul > li > section > p {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: -webkit-inline-box;
		width: 25.5%;
		padding-left:3%;
		max-height: 60px;
		vertical-align: middle;
	}
	body > main > div > ul > li > section > p:first-of-type{
		display: inline-flex;
		white-space: normal;
		width: 45%;
		justify-content: center;

	}
	body > main > div > ul > li > section > p:nth-of-type(2){
		font-size: 14px;
		display: inline-flex;
		white-space: normal;
	}
	body > main > div > ul > li > section > p:nth-of-type(3){
		width: 19.5%;

	}
	body > main > div > ul > li > section > a {
		margin-left: 1%;
		width: 45%;
		white-space: pre;
		display: -webkit-inline-box;
		overflow: visible;
	}
	/************* sono diventati 2 <p> che verranno gestiti dal php


	 purtropo nella parte mobile ho regole troppo specifiche e non posso ragrupparle 
	body > main > div > section > section:first-of-type > p:nth-of-type(1){
        display: inline;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: flex;
        margin-left: 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(2){
		display: inline;
		margin:0 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: inline;
	}
	
	body > main > div > section > section > p:first-of-type{
		width:27.5%;
	}
	*/
	
}