@media screen {

    input {
        height: 30px;
    }

    body > main {
        display: flex;
    }

    body > main > div {
        width: 80%;
        margin: 5%;
        padding: 2% 5% 2% 5%;
        background-color: var(--palette3);
        border-radius: 10px;
    }

    body > main > div > form > div > div {
        display: inline-block;
        height: 10%;
    }

    body > main > div > form > div > div:first-of-type,
    body > main > div > form > div > div:nth-of-type(3) {
        width: 70%;
        float: left;
    }

    body > main > div > form > div > div:nth-of-type(2),
    body > main > div > form > div > div:nth-of-type(4) {
        width: 25%;
        float: right;
    }

    body > main > div > form > div > div:nth-of-type(5) {
        width: 100%;
        height: 30%
    }

    body > main > div > div > button:first-of-type {
        margin-right: 10%;
    }



}

/************ desktop *******************/

@media screen and (min-width: 768px) {
    /* non ho idea del perché solo in sta pagina si scazzi o perché cosi funzioni */
    body > header > form > input {
        margin: 2px 0;
    }

    body > main {
        height: auto;
    }
    body > main > div {
        width: 70%;
        margin: 3% 5% 7% 25%;
        padding: 2% 2%;
        float: right;
    }
}