@media screen {

	header {
		min-width: 380px;
	}

	body > main {
		min-width: 380px;
		width:100%;
		padding: 0 0%;
	}

	body > main > nav {
		display: none;
	}

	body > main > div {
		margin-left: 0;
		margin-right: 0;
		width: 95%;
		margin-top: 0;
		padding:0 2.5% 50px 2.5%;
	}

	body > main > div > ul > li {
		/* resetto quelle del main */
		width: auto;
		min-width: unset;
		margin: 0 0 0 0;
		display: list-item;
		/* vedi se basta */
		margin-top: 10px;
		padding: 20px 0 0 0;
		clear: both;
		border-style: none;
		background-color: unset;
		cursor: pointer;
	}

	body > main > div > ul > li > div {
		display: none;
		min-height: 45px;
		height: auto; 
		margin-top: 10px;
		padding:20px 0 0 0;
	}

	body > main > div > ul > li > p {

		margin-top: -13px;
		margin-right: 10px;
		float: left;
		font-size: 18px;
		border-radius: 2000px;
		border-width: 2px;
		padding: 3px;
		border-color: var(--palette2);
		border-style: solid;
	}


	body > main > div > ul > li > div > form > p {
		font-size: 17px;
	}
	/* da vedere la larghezza */
	body > main > div > ul > li > div > form > select {
        width: auto;
        font-size: 15px;
        margin: 1% 0 3% 0;
        padding: 1% 2%;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 10px;
        border-color: var(--palette2);
    }
    body > main > div > ul > li > div > form > button {
        width: auto;
        margin-top: 3%;
        margin-left: 10px;
        padding: 1% 2%;
        border: 1px solid;
        border-color: var(--palette2);
        border-radius: 2000px;
        background-color: white;
        font-size: 15px;
        cursor: pointer;
    }



	body > main > div > ul > li > div > section {
		padding-left: 5vw;
		/*float: left;*/
		text-align: left;
		clear: both;
	}

	body > main > div > ul > li > div > section:last-of-type {
		margin-bottom: 20px;
	}

	body > main > div > ul > li > div > section > p {
		display: inline;
		width:40%;
		overflow: hidden;
		white-space: normal;
		text-overflow: clip;
		font-size: 16px;
		padding-right:3%;
	}

	body > main > div > ul > li > div > section > p:nth-of-type(2) {
		padding-left: 5px;
		overflow: visible;
		display: inline-flex;
	}

	body > main > ul > li > hr {
		float: left;
	}

}

/************ desktop *******************/

@media screen and (min-width: 768px) {

	body > main > nav {
		display: inline-block;
	}

	body > main > div {
		width:75%;
		margin: 5vh 5% 8vh 0;
		float: right;
		border-radius: 10px;
	}

	body > main > aside{
		padding-top: 3vh;
	}

	body > main > div > p {
		margin-top: 40px;
	}

	body > main > div > ul > li:last-of-type{
		margin-bottom: 5px;
	}

	/*
	body > main > div > ul > li > section {

		width: 50vw;
		margin-top: 20px;
		max-width: 55%;
		min-height: 7vh;
		height: auto;
		max-height: 25%;
		float: left;
		text-align: left;
		vertical-align: middle;

	}
	body > main > div > ul > li > section > p {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: -webkit-inline-box;
		width: 25.5%;
		padding-left:3%;
		max-height: 60px;
		vertical-align: middle;
	}
	body > main > div > ul > li > section > p:first-of-type{
		display: inline-flex;
		white-space: normal;
		width: 45%;
		justify-content: center;

	}
	body > main > div > ul > li > section > p:nth-of-type(2){
		font-size: 14px;
		display: inline-flex;
		white-space: normal;
	}
	body > main > div > ul > li > section > p:nth-of-type(3){
		width: 17.5%;

	}
	body > main > div > ul > li > section > a {
		margin-left: 1%;
		width: 45%;
		white-space: pre;
		display: -webkit-inline-box;
		overflow: visible;
	}
	/************* sono diventati 2 <p> che verranno gestiti dal php


	 purtropo nella parte mobile ho regole troppo specifiche e non posso ragrupparle 
	body > main > div > section > section:first-of-type > p:nth-of-type(1){
        display: inline;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: flex;
        margin-left: 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(2){
		display: inline;
		margin:0 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: inline;
	}

	body > main > div > section > section > p:first-of-type{
		width:27.5%;
	}
	*/

}


