@media screen {

    body > main {
        display: block;
    }

    body > main > div {
        padding: 2% 5vw !important;
    }

    body > main > div > h1 {
        margin-bottom: 3%;
    }

    body > main > div > p {
        margin-top: 4%;
        color: var(--paletteEx2)!important;
    }

    body > main > div > form {
        display: inline-block;
        width: 100%;
    }

    body > main > div > form > div > button,
    body > main > div > form > div > input {
        width: 35%;
        margin-top: 3%;
        padding: 1% 0;
        border: 1px solid;
        border-color: var(--palette2);
        border-radius: 2000px;
        background-color: white;
        font-size: 2.2vw;
        cursor: pointer;
    }

    body > main > div > form > div > button{
        margin-right: 10%;
    }

}

/************ desktop *******************/

@media screen and (min-width: 768px) {

    body > main > div > form > div > button,
    body > main > div > form > div > input {
        width: 30%;
        font-size: 15px
    }

}