:root {
    /* Main palette colors*/
    --palette1: #333333;
    --palette2: #525357;
    --palette3: #eeeeee;
    --palette4: #ff5f1b;
    /* Extra palette colors*/
    --paletteEx1: #77a464;
    --paletteEx2: #ff2121;
}

*{
    margin: 0;
    padding: 0;
}

@media screen {

    .unread {
        color:var(--palette4);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Arial, sans-serif;
        color:var(--palette1);
    }

    h1 {
        font-size: 17px;
    }

    p {
        font-family: Arial, sans-serif;
        color:var(--palette1);
        font-size: 15px;
    }

    a {
        font-family: Arial, sans-serif;
        color:var(--palette4);
        font-size: 15px;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    object {
        pointer-events: none;
    }

    input:focus-visible,
    textarea:focus-visible,
    select:focus-visible,
    datalist:focus-visible {
        outline: none;
    }

    table, label {
        font-family: Arial, sans-serif;
        color:var(--palette1);
        font-size: 3vw;
        text-decoration: none;
    }

    body > header {
        background-color: var(--palette1);
        width: 100%;
        height: 5vh;
        min-width: 380px;
        min-height: 30px;
        display: flex;
    }

    body > header > div {
        width: 8%;
        text-align: center;
        margin: 0 2%;
        cursor: pointer;
    }

    body > header > div > object {
        height: 75%;
        transform: translate(+0%, +15%);
        cursor: pointer;
    }

    body > header > object,
    body > header > a > object {
        height: 75%;
        width: 100%;
        min-width: 30px;
        transform: translate(+0%, +15%);
        cursor: pointer;
    }

    body > header > a {
        width: 8%;
        min-width: 60px;
        text-align: center;
        margin: 0 2%;
    }

    body > header > a:first-of-type {
        width: 30%;
        margin-right: auto;
    }

    body > header > div:first-of-type {
        margin: 0 2%;
    }

    body > header > div:last-of-type {
        margin: 0 3% 0 1%;
    }

    body > header > form {
        display: none;
    }

    body > main {
        position: relative;
        min-height: 90vh;
        min-width: 380px;
    }

    body > main > form {
        display: none;
        position: absolute;
        width: 90%;
        height: 5vh;
        padding: 0 5%;
        background-color: var(--palette2);
    }

    body > main > form > input {
        width: 100%;
        height: 70%;
        box-sizing: border-box;
        transform: translate(+0%, +20%);
        border-radius: 2000px;
        border-width: 0;
        border-color: var(--palette2);
        padding: 0 3%;
    }

    body > main > form > input:focus-visible {
        outline: none;
    }

    body > main > aside {
        left: -40%;
        width: 40%;
        padding-bottom: 3%;
        border-radius: 0 0 10px 0;
        position: absolute;
        z-index: 1;
        background-color: var(--palette4);
        box-sizing: border-box;
        padding-left: 5%;
    }

    body > main > aside > ul > li {
        margin-top: 7.5%;
    }

    body > main > aside > ul > li > a {
        font-size: 16px;
        z-index: 2;
        color: var(--palette3);
    }

    body > main > aside > ul > li > a:hover {
        color: var(--palette1);
    }

    /*body > main > nav > ul {
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        list-style: none;
    }

    body > main > nav > ul > li {
        display: inline;
        width: auto;
        margin-left: 2%;
    }

    body > main > nav > ul > li > a {
        color: var(--palette3);
    }

    body > main > nav > ul > li > p {
        display: inline;
        color:var(--palette3);
        width: 2%;
        margin-right: 2%;
    }*/

    body > main > div {
        margin: 5% 2% 0 2%;
        padding:10px 0 40px 0;
        width: 96%;
        float: right;
        text-align: center;
        border-radius: 10px;
        background-color: var(--palette3);
    }

    body > main > div:last-of-type{
        margin-bottom: max(8vh,50px);
        padding-bottom: max(6vh,35px)
    }

    body > main > div > h1 {
        font-size: 15px;
    }

    body > main > div > ul {
        /*display: inline-flex;
        width: 100%;*/
        padding: 1% 0;
    }

    body > main > div > ul > li {
        min-width: 230px;
        width: 40vw;
        display: inline-block;
        margin: 1% 0.5%;
        padding: 2%;
        border-width: 1px;
        border-color: var(--palette2);
        border-radius: 10px;
        box-sizing: border-box;
        border-style: solid;
        background-color: white;
    }

    body > main > div > ul > li > a {
        text-decoration: none;
    }

    /*
    body > main > div > ul > li > a:nth-of-type(1){
        text-align: center;
        display: inline-block;
        margin: 0 0.5%;
        width: 15vw;
        height: 270px;
        background-color: var(--palette3);
    }
    */

    body > main > div > ul >  li > a > img {
        width: auto;
        height: 120px;
    }

    body > main > div > ul > li > a > section > h2 {
        text-align: left;
        font-size: 16px;
    }

    body > main > div > ul > li > a > section {
        height: 100px;
        margin-top: 2%;
        text-align: left;
        font-size: 14px;
        color:var(--palette2);
    }

    body > main > div > ul > li > a > p{
        text-align: left;
    }

    body > main > div > ul > li > a > p:nth-of-type(1) {
        font-size: 14px;
    }

    .available {
        color: var(--paletteEx1);
    }

    .unavailable {
        color: var(--paletteEx2);
    }

    body > main > div > ul > li > a > span {
        float: left;
        font-size: 15px;
    }

    body > main > div > ul > li > a > span:first-of-type {
        color:var(--palette2);
        text-decoration: line-through;
    }

    body > main > div > ul > li > a > span:nth-of-type(2) {
        color:var(--palette2);
        margin: 0 7% 0 3%;
    }

    body > main > div > ul > li > a > span:last-of-type {
        color:var(--palette1);
        font-weight: bold;
    }

    body > footer {
        display: inline;
        bottom: 0;
        width: 100%;
        height: 4vh;
        min-height: 30px;
        background-color: var(--palette1);
        text-align: center;
        color:var(--palette3);
        z-index: 3;
        position: fixed;
    }

    body > footer > p {
        font-size: calc(0.2vw + 0.6rem);
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: var(--palette3);
    }

    body > footer > p > a {
        font-size: calc(0.2vw + 0.6rem);
        white-space: pre;
        margin-left: 3%;
    }

}

/*********************************** DESKTOP ***********************************/

@media screen and (min-width: 768px) {

    body > header {
        height: 5vh;
    }

    body > header > form {
        display: inline-block;
        width: 100%;
        margin: 0 5%;
    }

    body > header > form > input {
        width: 100%;
        height: 50%;
        box-sizing: border-box;
        transform: translate(+0%, +50%);
        border-radius: 2000px;
        border-width: 0;
        border-color: var(--palette2);
        padding: 0 3%;
    }

    body > header > form > input:focus-visible {
        outline: none;
    }

    body > header > div {
        display:none;
    }

    /* Logo */
    body > header > a:first-of-type {
        margin: 0 2% 0 5%;
    }

    body > header > a:nth-of-type(3),
    body > header > a:nth-of-type(4) {
        width: 10%;
    }

    body > header > a:nth-of-type(4) {
        margin: 0 5% 0 1%;
    }

    body > main {
        height: 90vh;
    }

    body > main > form {
        display: none;
    }

    body > main > aside {
        left: 0% !important;
        width: 20%;
        min-height: 100%;
        position: absolute;
        background-color: transparent;
        z-index: 1;
        box-sizing: border-box;
        padding-left: 2.6%;
    }

    body > main > aside > ul{
        margin-top: 3vh;
    }

    body > main > aside > ul > li {
        margin-top: 4.5%;
    }

    body > main > aside > ul > li > a {
        font-size: 15px;
        z-index: 2;
        color: var(--palette1);
    }

    body > main > aside > ul > li > a:hover {
        color: var(--palette4);
    }

    body > main > nav {
        display: inline-block;
        width: 100%;
        min-height: 15px;
        background-color: var(--palette2);
    }

    body > main > nav > p {
        font-size: 17px;
    }

    body > main > nav > p > a {
        font-size: 17px;
    }

    body > main > div {
        width: 80%;
    }

    body > main > div > h1 {
        font-size: 17px;
    }

    body > main > div > ul > li {
        /*width: 17vw;*/
        max-width: 260px;
    }

    body > main > div > ul > li > a > img {
        height: 150px;
        width: auto;
    }

    /*
    body > main > div > ul > li > a:nth-of-type(1){
        text-align: center;
        display: inline-block;
        margin: 0 0.5%;
        width: 15vw;
        height: 270px;
        background-color: var(--palette3);
    }
    */

    body > footer > p {
        font-size: calc(0.5vw + 0.43rem);
    }
    body > footer > p > a {
        font-size: calc(0.6vw + 0.4rem);
    }
}
