body > main > div > ul > li > div > div:last-of-type > select {
	width: 30%;
	border-radius: 2000px;
	border: 1px solid;
	border-color: var(--palette2);
	padding: 3px 9px;
	font-size: 15px;
	margin-left: 5vw;
}

body > main > div > ul > li > div > div > section {
	padding-left: 5vw;
	/*float: left;*/
	text-align: left;
	clear: both;
	margin: 0.5% 0;
}

body > main > div > ul > li > div > div {
	margin: 10px 0 0.5% 0;
}

body > main > div > ul > li > div > div:first-of-type {
	margin-bottom: 25px;
}

body > main > div > ul > li > div > div:last-of-type {
	margin: 25px 0 1% 0;
}