@media screen {
    p {
        text-align: left;
    }
    body > main > div > section {
        margin-left: 1.8%;
        margin-right: 1.8%;
    }
    body > main > div > p {
        text-align: left;
    }

    body > main > div > div > p {
        text-align: left;
    }
    body > main > div > section > h3 {
        margin: 1% 0;
    }
    body > main > div > section > div > h3 {
        margin: 1% 0;
    }
    body > main > div > section > section {
        margin: 2% 0;
    }
    body > main > div > section > section > h4 {
        margin-bottom: 2%;
    }

    body > main > div > section > section > section > h5 {
        font-size: 15px;
        text-align: left;
    }
    body > footer > p {
        text-align: center;
    }
}

/************ desktop *******************/

@media screen and (min-width: 768px) {

    body > main > div > div > button {
        width: 25%;
        font-size: 1.5vw
    }

}