*{
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

@media screen {

	body > main {
		width:100%;
		padding: 0 0%;
	}

	body > main > nav {
		display: none;
	}

	body > main > div{
		margin:0 0 5vh 0;
		padding:0 0 0 0;
		width: 100%;

	}

	body > main > div > img {
		width: 50vw;
		display: block;
		margin: 5% auto;
		border: 1px solid;
		border-color: var(--palette2);
		border-radius: 10px;
	}

	body > main > div > button {
		width: 30%;
		margin: 6% 35% 0 35%;
		background-color: var(--palette4);
		color: var(--palette3);
		font-size: 15px;
		border: 1px solid;
		border-color: var(--palette2);
		border-radius: 2000px;
		padding: 0.5% 0;
	}

	body > main > div > div > section > p {
		margin-top:3%;
	}

	body > main > div > div > section > p:last-of-type > span:first-of-type {
		color: var(--palette2);
		text-decoration: line-through;
	}

	body > main > div > div > section > p:last-of-type > span:nth-of-type(2):empty {
		margin: 0;
	}

	body > main > div > div > section > p:last-of-type > span:nth-of-type(2) {
		color: var(--palette2);
		margin: 0 7% 0 3%;
	}

	body > main > div > div > section > p:last-of-type > span:last-of-type {
		color: var(--palette1);
		font-weight: bold;
	}

	/* da gestire col php
	body > main > div > section > section:first-of-type > p:first-of-type {
        color: green;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: none;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: none;
	}
	*/

	body > main > div > div > div > div {
		width: 100%;
		margin-top: 5%;
	}

	body > main > div > div > div > div > button {
		width: 6.5%;
		vertical-align: middle;
		box-sizing: border-box;
		border-radius: 2000px;
		border-style: none;
	}

	body > main > div > div > div > div > button:first-of-type {
		margin-left: 0;
	}

	/*body > main > div > div > div > div > button:nth-of-type(2) {
		/*margin-right: 25%;
		su firefox se restringi abbastanza la finestra sto bottone va a capo
		penso a causa dei bordi da 1px dei bottoni perché contanto tutti i margini
		viene 98% ma bisogna considerare anche i border-width dei 2 bottoni e input
	}*/

	body > main > div > div > div > div > input {
		margin: 0 5%;
		width: 25%;
        box-sizing: border-box;
		vertical-align: middle;
        border-radius: 2000px;
        border-width: 1px;
        border-color: var(--palette2);
		background-color: var(--palette3);
        padding: 2%;
		text-align: center;
		font-size: 13px;
	}

	body > main > div > div > div > button {
		width: 50%;
		margin-top: 5%;
		margin-left: 0;
		padding: 1.5% 0;
		font-size: 17px;
		border-width: 1px;
        border-color: var(--palette2);
		color: var(--palette3);
		box-sizing: border-box;
		border-style: solid;
		border-radius: 2000px;
		background-color: var(--palette4);
	}

	body > main > div > div > div > button > img {
		width: 15%;
		/*height:10vh;*/
		vertical-align: middle;
		width: 8%;
		background-color: var(--palette4);
	}

	/* p per indicare il prodotto non disponibile */
	body > main > div > div > div {
		margin-bottom: 15px;
	}

	body > main > div > div > p:last-of-type {
		/*display: inline-block;*/
		display: none;
	}

	body > main > div > section {
		margin-top: 5%;
		padding: 1% 5% 0 5%;
	}

	body > main > div > section:nth-of-type(2) {
		margin-top: 0;
	}

	body > main > div > section:nth-of-type(2) > h2,
	body > main > div > section:nth-of-type(2) > p {
		padding: 0 3%;
	}

	body > main > div > section > table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		margin-top: 2%;
	}

	body > main > div > section > table > tbody tr {
		margin: 1% 0;
	}

	body > main > div > section > table > tbody tr:nth-of-type(odd) {
		background-color: white;
	}

	body > main > div > section > table > tbody tr th,
	body > main > div > section > table > tbody tr td {
		width: 50%;
		border-width: 0px;
		border-style: solid;
		border-color: var(--palette);
		text-align: left;
		padding: 1% 2%;
	}

}

/************ desktop *******************/

@media screen and (min-width: 768px) {

	body > main > nav {
		display: inline-block;
	}

	body > main > div {
		width:75%;
		margin: 5vh 5% 5vh 0;
		float: right;
		border-radius: 10px;
		text-align: left;
	}

	body > main > div > img {
		margin: 3vh 0 0 5%;
		width: 31%;
		float: left;
	}

	body > main > div > div:first-of-type {
		display: inline-block;
		width: 52%;
		margin-right: 1%;
		margin-left: 7%;
	}

	body > main > div > div > section {
		/*
		padding-right: 3vw;
		margin-right: 2vw;*/
		text-align: left;
		padding-top: 10%;
		margin-bottom: 2%;

	}

	body > main > div > div > section > p:nth-of-type(2){
        margin-top: 2vh;
	}

	body > main > div > div > section > p:last-of-type {
        font-size: 17px;
	}

	/************* sono diventati 2 <p> che verranno gestiti dal php


	 purtropo nella parte mobile ho regole troppo specifiche e non posso ragrupparle
	body > main > div > section > section:first-of-type > p:nth-of-type(1){
        display: inline;
	}

	body > main > div > section > section:first-of-type > p:nth-of-type(2){
        display: flex;
        margin-left: 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(2){
		display: inline;
		margin:0 2vw;
	}

	body > main > div > section > section:nth-of-type(2) > p:nth-of-type(odd){
		display: inline;
	}

	body > main > div > section > section > p:first-of-type{
		width:27.5%;
	}
	*/

	body > main > div > div > div {
		display: inline-block;
		margin: 2% 0;
	}

	body > main > div > div > div > div {
		margin: 0 0 0 0;
	}

	body > main > div > div > div > div:nth-of-type(1){
		display: inline;
		width: 40%;
	}

	body > main > div > div > div > div > button {
		margin: 0 0 0 0;
		height: 5vw;
		width: 5vw;
		max-height: 30px;
		max-width: 30px;
		border-style: none;
	}

	body > main > div > div > div > div > button:first-of-type{
		margin: 0 0 0 0;
	}

	body > main > div > div > div > div > button:nth-of-type(2){
		margin: 0 0 0 0;
	}

	body > main > div > div > div > div > input{
		font-size: 15px;
		height: 5vw;
		width:13.5%;
		margin: 0 2%;
		padding: 0 0;
		text-align: center;
		max-height: 30px;
		max-width: 90px;
		border: 1px solid;
		border-color: var(--palette2);
	}

	body > main > div > div > div > button{
		padding: 0 0 0 0;
		width:38.5%;
		min-width: 140px;
		margin: 0 0 0 3%;
		height: 5vw;
		font-size: 14px;
		max-height: 30px;
		max-width: 250px;
	}

	body > main > div > div > div > button > img {
		/*width: 15%;*/
		max-height: 30px;
		vertical-align: middle;
		width: 9.2%;
		background-color: var(--palette4);

	}

	/*** specifiche ***/
	body > main > div > section {
		clear: both;
		margin: 10vh 0 5% 0;
	}

	body > main > div > section > h2 {
		font-size: 17px;
		text-align: left;
		padding-left:3%;
	}

	body > main > div > section > table {
		width: 70%;
		border-collapse: collapse;
		border-spacing: 0;
		margin-top: 1%;
		font-size: 15px;
	}

	body > main > div > section > table > tbody tr {
		margin: 1% 0;
	}

	body > main > div > section > table > tbody tr th,
	body > main > div > section > table > tbody tr td {
		width: 50%;
		border-style: none;
		text-align: left;
		padding: 1% 5%;

	}

	body > main > div > button {
		margin-top: 1%;
	}

}