@media screen {

    input {
        height: 30px;
    }

    body > main {
        display: flex;
    }

    body > main > div {
        width: 80%;
        margin: 5%;
        padding: 2% 5% 2% 5%;
        background-color: var(--palette3);
        border-radius: 10px;
    }

    body > main > div > form > p:first-of-type {
        margin-top: 4%;
        color: var(--paletteEx2);
    }

    body > main > div > form > p:last-of-type {
        margin-top: 4%;
        color: var(--paletteEx1);
    }

    body > main > div > div > button {
        color: var(--palette3);
        font-size: 15px;
        background-color: var(--palette4);
        min-width: 127px;
    }

    body > main > div > form > div > button {
        font-size: 13px;
    }

    body > main > div > h1 {
        margin: 6% 0 1% 0;
    }

    body > main > div > form {
        padding: 5%;
        border: 1px solid;
        border-color: var(--palette2);
        border-radius: 10px;
    }

    body > main > div > form > div > div {
        display: inline-block;
        height: 10%;
    }

    body > main > div > form > div > div:first-of-type,
    body > main > div > form > div > div:nth-of-type(3) {
        width: 70%;
        float: left;
    }

    body > main > div > form > div > div:nth-of-type(2),
    body > main > div > form > div > div:nth-of-type(4) {
        width: 25%;
        float: right;
    }

    body > main > div > form > div > div:nth-of-type(5) {
        width: 100%;
        height: 30%;
    }

    body > main > div > div > button:nth-of-type(2) {
        margin-left: 10%;
    }

    body > main > div > form > div > button:first-of-type {
        margin-right: 10%;
    }



}

/************ desktop *******************/

@media screen and (min-width: 768px) {
    /* non ho idea del perché solo in sta pagina si scazzi o perché cosi funzioni */
    body > header > form > input {
        margin: 2px 0;
    }

    body > main {
        height: auto;
    }

    body > main > div {
        width: 70%;
        margin: 3% 5% 7% 25%;
        padding: 2% 7vw;
        float: right;
    }
    body > main > div > div > button:nth-of-type(1){
        min-width: 123px;
        margin: 0 0.3% 0 0;
    }
    body > main > div > div > button:nth-of-type(2) {
        min-width: 123px;
        margin: 0 2.2vw 0 2.2vw;
    }

    body > main > div > div > button:nth-of-type(3) {
        min-width: 125px;
        margin: 0 0.3% 0 0;
        
    }

}